@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
* {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    background: url('../pic/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  ._container {
    width: 100%;
    height: 100vh;
  }

  #text {
    text-align: center;
    opacity: 1;
    color: pink;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    min-width: 320px;
    background: linear-gradient(to bottom, #000a, #0000);
    border-radius: 20px;
    padding: 20px 5px 20px 5px;
    z-index: 0;
    transition: all ease-in-out;
  }

  #count span._day, #count span._hour, #count span._minute, #count span._second {
    font-size: 25px;
    padding: 5px;
    background: rgba(0, 144, 228, 0.6);
    color: white;
    width: 20%;
    text-align: center;
    margin: 0;
    display: inline-block;
  }
  #count-label > span {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 5px;
  }
  

  @keyframes zoom-animate {
    0% {transform: scale(0.8); opacity: 0.1;}
    90% {transform: scale(1.0); opacity: 1.0;}
  }

  @keyframes opacity-animate {
    from {opacity: 0.1;}
    to {opacity: 1.0;}
  }

#count-label > span {
  color: white;
}

#who-we-are {
  padding: 30px 0px;
  margin: 0;
  background-color: #0006;
  z-index: 1;
}

._our_name {
  font-size: 38px;
}


.our-name .heart {
  animation: zoom-animate 0.5s infinite alternate-reverse;
}

._heart_between {
  position: absolute;
  left: 50%;
  
  margin-top: 5vw;
  transform: translateX(-50%);
  z-index: 2;
  animation: opacity-animate 0.5s infinite alternate;
}
._heart_between img {
  width: 150px;
  transition: all 1s ease;
}


@media only screen and (max-width:479px) {
  ._heart_between img {
    transform: scale(0.7);
  }

  ._our_name {
    font-size: 30px;
  }
}

/* timeline css */
a{
  text-decoration:none
}
h4{
  text-align:center;
  margin:30px 0;
  color:#444
}
.main-timeline{
  position:relative
}
.main-timeline:before{
  content:"";
  width:5px;
  height:100%;
  border-radius:20px;
  margin:0 auto;
  background:#007bff;
  position:absolute;
  top:0;
  left:0;
  right:0
}
.main-timeline .timeline{
  display:inline-block;
  position:relative;
  margin-bottom: 30px;
}
.main-timeline .timeline:before{
  content:"";
  width:20px;
  height:20px;
  border-radius:50%;
  border:4px solid #fff;
  background:#ec496e;
  position:absolute;
  top:50%;
  left:50%;
  z-index:1;
  transform:translate(-50%,-50%)
}
.main-timeline .timeline-icon{
  display:inline-block;
  width:130px;
  height:130px;
  border-radius:50%;
  border:3px solid #ec496e;
  padding:13px;
  text-align:center;
  position:absolute;
  top:50%;
  left:30%;
  transform:translateY(-50%)
}
.main-timeline .timeline-icon i{
  display:block;
  border-radius:50%;
  background:#ec496e;
  font-size:64px;
  color:#fff;
  line-height:100px;
  z-index:1;
  position:relative
}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{
  content:"";
  width:100px;
  height:4px;
  background:#ec496e;
  position:absolute;
  top:50%;
  right:-100px;
  transform:translateY(-50%)
}
.main-timeline .timeline-icon:after{
  width:70px;
  height:50px;
  background:#fff;
  top:89px;
  right:-30px;
  opacity: 0;
}
.main-timeline .timeline-content{
  width:50%;
  padding:0 50px;
  margin:52px 0 0;
  float:right;
  position:relative
}
.main-timeline .timeline-content:before{
  content:"";
  width:70%;
  height:100%;
  border:3px solid #ec496e;
  border-top:none;
  border-right:none;
  position:absolute;
  bottom:-13px;
  left:35px
}
.main-timeline .timeline-content:after{
  content:"";
  width:37px;
  height:3px;
  background:#ec496e;
  position:absolute;
  top:13px;
  left:0
}
.main-timeline .title{
  font-size:20px;
  font-weight:600;
  color:#ec496e;
  text-transform:uppercase;
  margin:0 0 5px
}
.main-timeline .description{
  display:inline-block;
  font-size:16px;
  color:#404040;
  line-height:20px;
  letter-spacing:1px;
  margin:0
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left:auto;
  right:30%
}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{
  right:auto;
  left:-100px
}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{
  right:auto;
  left:-30px;
  opacity: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
  float:left
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
  left:auto;
  right:35px;
  transform:rotateY(180deg)
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
  left:auto;
  right:0
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{
  background:#f9850f
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
  border-color:#f9850f
}
.main-timeline .timeline:nth-child(2n) .title{
  color:#f9850f
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{
  border-left-color:#f9850f;
  border-bottom-color:#f9850f
}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{
  background:#8fb800
}
.main-timeline .timeline:nth-child(3n) .timeline-icon{
  border-color:#8fb800
}
.main-timeline .timeline:nth-child(3n) .title{
  color:#8fb800
}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{
  border-left-color:#8fb800;
  border-bottom-color:#8fb800
}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{
  background:#2fcea5
}
.main-timeline .timeline:nth-child(4n) .timeline-icon{
  border-color:#2fcea5
}
.main-timeline .timeline:nth-child(4n) .title{
  color:#2fcea5
}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{
  border-left-color:#2fcea5;
  border-bottom-color:#2fcea5
}
@media only screen and (max-width:1200px){
  .main-timeline .timeline-icon:before{
      width:50px;
      right:-50px
  }
   .main-timeline .timeline:nth-child(even) .timeline-icon:before{
      right:auto;
      left:-50px
  }
   .main-timeline .timeline-content{
      margin-top:75px
  }
}
@media only screen and (max-width:990px){
  .main-timeline .timeline{
      margin:0 0 10px
  }
   .main-timeline .timeline-icon{
      left:25%
  }
   .main-timeline .timeline:nth-child(even) .timeline-icon{
      right:25%
  }
   .main-timeline .timeline-content{
      margin-top:115px
  }
}
@media only screen and (max-width:767px){
  .main-timeline{
      padding-top:50px
  }
   .main-timeline:before{
      left:80px;
      right:0;
      margin:0
  }
  .main-timeline .timeline {
    margin-bottom: 50px;
  }
   .main-timeline .timeline:before{
      top:0;
      left:83px;
      right:0;
      margin:0
  }
   .main-timeline .timeline-icon{
      width:60px;
      height:60px;
      line-height:40px;
      padding:5px;
      top:0;
      left:0;
  }
   .main-timeline .timeline:nth-child(even) .timeline-icon{
      left:0;
      right:auto
  }
   .main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{
      width:25px;
      left:auto;
      right:-25px
  }
   .main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{
      width:25px;
      height:30px;
      top:44px;
      left:auto;
      right:-5px;
      opacity: 0;
  }
   .main-timeline .timeline-icon i{
      font-size:30px;
      line-height:45px
  }
   .main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{
      width:100%;
      margin-top:-15px;
      padding-left:130px;
      padding-right:5px
  }
   .main-timeline .timeline:nth-child(even) .timeline-content{
      float:right
  }
   .main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{
      width:50%;
      left:120px
  }
   .main-timeline .timeline:nth-child(even) .timeline-content:before{
      right:auto;
      transform:rotateY(0)
  }
   .main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{
      left:85px
  }
}
@media only screen and (max-width:479px){
  .main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{
      padding-left:110px
  }
   .main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{
      left:99px
  }
   .main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{
      left:65px
  }
}

/* customizable snowflake styling */
.snowflake {
  color: #fce;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}